@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Inter:wght@200;300;400;600;700;800;900&family=Ubuntu:wght@300;400;500&display=swap');
html,body{
    margin:0;
    padding:0;
    
    background-color: #07070D;
}

body{
    color: #fff;
    /*background-image: url('/public/flag.png');*/
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 80px;
    font-family: 'Inter', sans-serif;
}
h1{
    /* make the text with red white gradient */
    background: linear-gradient(90deg, #FF0000 20%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    margin-top: 0;
}
.logo{
    background: linear-gradient(90deg, #FF0000 20%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.lander{
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.lander p{
    font-weight: 300;
    max-width: 600px;
}
.mapdiv{
    height: 100vh;
}
.sidebarleft{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
}

.popup{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 700px;
    background-color: #181818;
}
.popup .cover{
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
    position: relative;

}

.add-village input, .add-missing-person input, .add-missing-person select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 300;
    border:0;
    border-radius: 5px;
}
.add-village .form-tab-title, .add-missing-person .form-tab-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.add-village textarea, .add-missing-person textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 300;
    border:0;
    border-radius: 5px;
    height: 100px;
}
.add-village button, .button, .add-missing-person button{
    padding: 10px 20px;
    background-color: #C1272D;
    width:100%;
    color: #FFF;
    border:0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.add-village button:hover, .add-missing-person button:hover, .button:hover{
    background-color: #A11D22;
    width: 100%;
}
.add-village button:hover, .add-missing-person button:hover, .button:hover{
    background-color: #A11D22;
    width: 100%;
}


.notif_bar{
	position: fixed;
	width: 100vw;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #82C263;
	color: #FFF;
	z-index: 99;
    display:none;
}
.notif_bar.redalert{
	background-color: #E04A3A;
}
.village, .missing-person{
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    color: #000;
}
.villages, .missing-persons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.button.big{
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
    text-align: center;
    margin-bottom: 10px;

}
.button.mt{
    margin-top: 40px;
}
.form-tab .button{
    width: fit-content;
    margin-bottom: 10px;
}
a{
    color: #fff;
    text-decoration: none;
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: auto;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 10px;
}
.tabs .tab{
    padding: 10px 20px;
    color: #FFF;
    border:0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.tabs .tab.active{
    border-bottom: 2px solid #C1272D;
    color: #C1272D;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.retour{
    line-height: 31px;
}